<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MaanchWebsite">

	<listeners>
		<listener class-name="com.Maanch.utilities.Reporting"></listener>

	</listeners>


	<test name="MaanchWebsite">


		<classes>



		<class name="com.Maanch.testCases.TC_Register"></class>
		
		<class name="com.Maanch.testCases.TC_Login"></class>




		</classes>

	</test>
</suite>